{extend name="public/base"}

{block name="title"}新增用户{/block}

{block name="main"}
<!--添加用户ui-->
<form action="{:url('/user')}" method="post">
    <fieldset class="w-75">
        <div class="form-group row">
            <label for="username" class="col-2 col-form-label">用户名</label>
            <div class="col-8">
                <input placeholder="请输入用户名" type="text" id="username" name="username" required
                       class="form-control">
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>

        <div class="form-group row">
            <label for="password" class="col-2 col-form-label">密码</label>
            <div class="col-8">
                <input placeholder="请输入密码" type="password" id="password" name="password" required
                       class="form-control">
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>

        <div class="form-group row">
            <label for="passwordnot" class="col-2 col-form-label">密码确定</label>
            <div class="col-8">
                <input placeholder="请输入密码确认" type="password" id="passwordnot" name="passwordnot"
                       required class="form-control">
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">性别</label>
            <div class="col-8">
                <label for="man" class="col-form-label">
                    <input type="radio" id="man" name="gender" value="男" checked>男
                </label>
                <label for="woman" class="col-form-label">
                    <input type="radio" id="woman" name="gender" value="女" checked>女
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-2 col-form-label">电子邮件</label>
            <div class="col-8">
                <input placeholder="请输入电子邮件" type="email" id="email" name="email"
                       class="form-control">
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>


        <div class="form-group row">
            <label for="content" class="col-2 col-form-label">喜好</label>
            <div class="col-8">
                <input placeholder="请输入兴趣爱好" type="text" id="content" name="content"
                       class="form-control">
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label"></label>
            <div class="col-6">
                <label for="agree" class="col-form-label-sm">
                    <input type="checkbox" id="agree" name="agree">
                    我已同意看视频不喷老师的协议~
                </label>
            </div>
            <div class="col-2 text-right">
                <a class="col-form-label-sm" href="{:url('/user')}">返回列表</a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label"></label>
            <div class="col-8">
                <input type="hidden" value="{:token()}" name="__token__"> <!--开启令牌防止伪造（要打开session）-->
                <button class="btn btn-success w-100">添加用户</button>
            </div>
        </div>

    </fieldset>
</form>
{/block}

