{extend name="public/base"}

{block name="title"}用户列表{/block}

{block name="main"}
<!--搜索表单-->
<form action="{:url('/user')}" class="pb-2">
    <div class="form-row">
        <div class="col-form-label">
            <label for="username">用户名</label>
        </div>
        <div class="col-2">
            <input placeholder="查询的用户名" type="text" id="username" name="username" class="form-control">
        </div>

        <div class="col-form-label">
            <label for="email">邮箱</label>
        </div>
        <div class="col-2">
            <input placeholder="邮箱查询" type="text" id="email" name="email" class="form-control">
        </div>

        <div class="col-form-label">
            <label for="gender">性别</label>
        </div>
        <div class="col-auto">
            <select name="gender" id="gender" class="custom-select">
                <option selected value="">选择性别</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">搜索</button>
            <a href="{:url('/user/create')}" class="btn btn-success">添加用户</a>

        </div>
    </div>

</form>

<!--数据列表-->
<table class="table table-bordered">
    <thead class="bg-light">
    <tr>
        <th class="text-center">ID</th>
        <th>用户名</th>
        <th class="text-center">性别</th>
        <th>邮箱</th>
        <th class="text-center">状态</th>
        <th class="text-center {$orderTime=='desc'?'':'dropup'}">
            <a href="{:app\\common\\Tool::url('create_time')}create_time={$orderTime}" class="text-decoration-none text-secondary dropdown-toggle" >
                创建时间
            </a>
        </th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="obj"}
    <tr>
        <td class="text-center">{$obj.id}</td>
        <td>
            <span data-toggle="tooltip"
                  data-placement="right"
                  title="{$obj.hobby?$obj.hobby.content:''}">   <!--老师的直接$obj.hobby.content就可以，我的就$obj.hobby没有值了空了再.content就报错-->

                  {$obj.username}
            </span>
        </td>
        <td class="text-center">{$obj.gender}</td>
        <td>{$obj.email}</td>
        <td class="text-center">
                            <span class="badge btn-{$obj.badge}">
                                {$obj.status}
                            </span>
        </td>
        <td class="text-center">{$obj.create_time}</td>
        <td>
            <form action="{:url('/user/'.$obj.id)}" method="post">
                <input type="hidden" name="_method" value="delete">     <!--伪装为删除请求-->
                <button class="btn badge-danger btn-sm btn-delete">删除</button>
                <a href="{:url('/user/'.$obj.id.'/edit')}" class="btn badge-warning btn-sm">修改</a>
            </form>
        </td>

    </tr>
    {/volist}
    </tbody>
</table>

{$list|raw}

{/block}

{block name="js"}
<script type="text/javascript">
    $('.btn-delete').click(()=>{
        return confirm('真的要删除当前数据吗');
    })

    $('[data-toggle="tooltip"]').tooltip();
</script>
{/block}