<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入 Bootstrap CSS -->
    {css href="__CSS__/bootstrap.min.css"}
    {css href="__CSS__/style.css"}
    <!-- 移动设备优先 -->
    <meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
</head>
<body>

    <!--核心部分-->
    <div class="container pt-5 mt-5">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-secondary">用户管理</button>
            </div>
            <div class="col-9">
                <table class="table table-bordered">
                    <thead class="bg-light">
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>





<!-- 引入 JS 文件 -->
{js href="__JS__/jquery-3.3.1.min.js"}
{js href="__JS__/bootstrap.bundle.min.js"}
</body>
</html>